SUPABASE_URL=https://ydzrairrjrwyuwmnliis.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlkenJhaXJyanJ3eXV3bW5saWlzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzUyNTQ4OSwiZXhwIjoyMDk5MTAxNDg5fQ.GGb543zm6gPt3EeSVk6nD3m5WQzDiDsZ5cy2TxV53bM
SARVAM_API_KEY=sk_bzcdxm7f_j3M2b6AlcS0S0jqYlOqLJ05I
PORT=4000
